{% include 'ahead.html'%}

<div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card p-3 mt-3">
                <form action="add_course_action" method="post" enctype="multipart/form-data">
                    <div class="h4 text-center">Add Course</div>
                    <div class="form-group">
                        <label for="course_name">Name</label>
                        <input type="text"  class="form-control" name="course_name" id="course_name" placeholder="Enter Course Name" required>
                    </div>
                    <div class="mt-1">
                        <label for="picture" class="form-control-label">Picture</label>
                        <input type="file" name="picture" id="picture" placeholder="Choose Picture" required class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <label for="description">Description</label>
                        <textarea type="text"  class="form-control" name="description" id="description" placeholder="Enter Description" required></textarea>
                    </div>
                    <input type="submit" value="Add Course" class="btn btn w-100 mt-3" style="background-color: #253db4;color: White; ">
                </form>
            </div>
        </div>
    </div>
</div>
</div>

