{% include 'professor_head.html'%}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <form action="change_password_action">
                <input type="hidden" name="Professor_id" value="{{Professor_id}}">
            <div class="h5 text-center mt-5">Change Password</div>
            <div class="card p-3 mt-3">
                <div class="mt-2">
                    <label>New Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter New Password">
                </div>
                 <div class="mt-2" >
                    <label>Confirm Password</label>
                    <input type="password" id="password2" name="password2" class="form-control" placeholder="Enter Confirm Password">
                 </div>
                <input type="submit" value="Change Password" class="btn btn-success mt-3">
            </div>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>