{% include 'Mhead.html'%}
<style>
      .button{
    padding: 10px 56px;
    }
    #password{
    border:1px solid black;
    }
     #email{
    border:1px solid black;
    }

</style>
<div class="row mt-2">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card p-4 mt-5">
            <form action="student_login1" method="post">
                <div class="h4 text-center">Student Login</div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control " id="email" placeholder="Enter Email" name="email" required
                </div>
                <div class="form-group mt-2">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" required>
                </div>
                <div class="mt-2">
                    <input type="submit" value="Login" class=" mt-2 btn btn w-100 text-white" style="background-color: #253db4;">
                    <div class="text-center">OR</div>
                    <div>
                        <a href="student_registration" style="padding: 10px;color:; background-color: #253db4;" class="btn btn-success w-100 mt-2">SignUp</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
